* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: row;
}

.circle {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    width: 250px;
    height: 250px;
    border: 15px solid #000;
    border-radius: 50%;

}

.small_circle {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #000;
    border-radius: 50%;
}

.micro_circle {
    display: flex;
    width: 25px;
    height: 25px;
    margin-bottom: 27px;
    margin-right: 14px;
    background-color: #ffffff;
    border-radius: 50%;
}