* {
    padding: 0px;
    margin: 0px;
    border: none;
    box-sizing: border-box;
    font-size: large;
}

.dflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    flex-direction: column;
    background-color: #dddddd;
    border: 3px inset #bbbbbb80;
    width: 260px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

.calc_principal {
    flex-direction: row;
    position: absolute;
    top: 5px;
    left: -260px;
    transition: all 0.3s;
}

.calc_principal_exibir {
    left: 5px !important;
    transition: all 0.3s;
}

.div_nome {
    width: 215px;
    margin-bottom: 10px;
}

.display {
    width: 210px;
    text-align: right;
    padding: 5px;
    font-family: monospace;
    font-size: 1.8em;
    display: none;
}

.div_display {
    width: 215px;
    height: 40px;
    margin-bottom: 8px;
    background-color: #8a8;
    border: 3px inset rgba(53, 66, 53, 0.062);
}

.div_teclas {
    width: 215px;
    flex-wrap: wrap;
    margin: 10px;
}

.tecla {
    background-color: #aaa;
    border: 3px solid #888;
    font-weight: bold;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 12px;
    margin: 1px;
}

.tecla:active {
    background-color: color-mix(in srgb, #aaa 95%, rgba(255, 255, 255, 0.144)) !important;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.493) !important;
    transform: translateY(1px);
    transition: all 0.02s ease-in-out;
}

.teclaOp {
    background-color: #818181 !important;
    border-color: rgb(78, 78, 78) !important;
}

.calc_aba {
    width: 30px;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.2);
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}